.game{
  width: 800px;
  height: 400px;
  border: 1px solid rgb(122, 122, 122);
  margin: auto;
  /* display: flex;
  justify-content: center; */
}

#dino{
  width: 50px;
  height: 50px;
  /* background-image: url('photo_2025-12-31_10-51-16.jpg'); */
  background: url('photo_2025-12-31_10-51-16.jpg');
  background-size: 50px 50px;
  position: relative;
  top: 350px;
  
}

#cactus{
  width: 40px;
  height: 70px;
  /* background-image: url('photo_2025-12-31_10-51-16.jpg'); */
  background: url('burger.avif');
  background-size: 50px 70px;
  position: relative;
  top: 280px;
  left: 750px;

  animation: block 1.5s infinite linear;
}

.jump{
  animation: jump 0.3s linear;
}


@keyframes jump {
  0% {
    top: 350px;
  }

  30% {
    top: 290px;
  }

  50% {
    top: 240px;
  }

  80% {
    top: 290px;
  }

  100% {
    top: 350px;
  }
   
}

@keyframes block {
  0% {
    left: 750px;
  }

  100% {
    left: -50px;
  }
}