.GAME{
  display: flex;
  justify-content: center;
  flex-direction: column;
  height: 100vh;
  margin: 0 auto;
  width: 100%;
}

.skin-select {
  margin-bottom: 5vh;
  display: flex;
  column-gap: 1vw;
}

.game {
  width: 100%;
  max-width: 800px; /* На ПК будет 800, на мобиле растянется по экрану */
  height: 200px; /* Уменьшим высоту, чтобы прыжок выглядел адекватно */
  border: 1px solid #7a7a7a;
  margin: 0 auto;
  position: relative;
  /* overflow: hidden; */
}

.text-center {
  margin-bottom: 4vh;
}

#score{
  font-size: 20px;
  margin-bottom: 1vh;
}

p{
  margin-top: -4.8vh;
  font-size: 18px;
  font-weight: 500;
}


button{
  border-radius: 10%;
}
#start {
  margin-top: 1vh;
  width: 85px;
  height: 30px;
  font-size: 16px;
  font-weight: 600;
}

.skin-btn {
  width: 120px;
  height: 50px;
}

.wrapper{
  display: flex;
  justify-content: center;
  align-items: center;
  /* height: 100vh; */
}

#dino {
  width: 50px;
  height: 50px;
  background: url('фото/photo_2025-12-31_10-51-16.jpg') no-repeat center/cover;
  position: absolute;
  bottom: 0; /* Прижат к низу */
  left: 50px;
  z-index: 2;
}

#cactus {
  width: 40px;
  height: 50px;
  background: url('фото/злой бургер.webp') no-repeat center/cover;
  position: absolute;
  bottom: 0;
  left: 100% ; /* Начало всегда за правой границей */
}

#score{
  /* position: absolute;
  top: 0;
  left: 0; */
  display: flex;
  justify-content: center;
  align-items: center;
  /* margin-bottom: 20px; */
  /* background: #000;
  width: 50px;
  height: 30px;
   */
   /* color: ; */
  
}

#start{
  content: '';
  position: absolute;
  top: 10%;
  left: 50%;
  transform: translateX(-50%); 
  /*  сдвигает кнопку старт на 50%(половину от себя) влево на половину от его собственной ширины */
}

.text {
  /* width: 800px;              как у игры */
  margin: 20px auto 10px;    /* центр + отступ */
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  font-size: 18px;
}

.text-center{
  font-size: 28px;
  font-weight: 600;
}

.text__developer{
  font-size: 30px;
  font-weight: 800;
  margin-bottom: 100px;
}


.jump {
  /* linear тут не подходит, прыжок должен быть с замедлением вверху */
  animation: jump 0.5s cubic-bezier(0.1, 0.4, 0.4, 1);
}

@keyframes jump {
  0% { transform: translateY(0); }
  50% { transform: translateY(-120px); } /* Подбери высоту под свой кактус */
  100% { transform: translateY(0); }
}

@keyframes block {
  0% { left: 100%; }
  100% { left: -60px; }
}


@media(max-width: 850px) {
  .game {
    width: 500px;
  }

  /* @keyframes block {
  0% {
    left: 420px;
  }

  100% {
    left: -50px;
  }
}

#cactus {
  left: 420px;
} */

.text__developer {
  margin: 10px 0 20px 0;
}

}

@media(max-width: 500px) {
  .game {
    width: 350px;
  }


  .skin-btn {
    width: 100px;
    height: 40px;
  }

  .skin-select{
    column-gap: 15px;
  }

  /* @keyframes block {
  0% {
    left: 330px;
  }

  100% {
    left: -50px;
  }
}

#cactus {
  left: 320px;
}

@keyframes jump {
  0% {
    top: 350px;
  }

  20% {
    top: 270px;
  }

  40% {
    top: 220px;
  }

  60% {
    top: 240px
  }

  80% {
    top: 290px;
  }

  100% {
    top: 350px;
  }
   
}

#cactus {
  width: 40px;
  height: 50px;
  top: 300px;
} */


}